:root {
  --bg-dark: #0f0f1b;
  --text-light: #ffffff;
  --text-muted: #9ca3af;
  --accent-pink: #ec4899;
  --star-active: #facc15;
  --star-inactive: #4b5563;
}

body {
  margin: 0;
  font-family: "Asap Condensed", "Oswald", "sans-serif";
  background-color: var(--bg-dark);
  color: var(--text-light);
  min-height: 100vh;
  padding-top: 80px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

.button-container {
  display: none;
}

/* Header */
/* Header and Navbar Responsive Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;
  padding: 10px 0;
  transition: all 0.3s ease;
  height: 77px;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 45px;
}

/* Logo Styling */
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: 150px;
  margin-top: -11px;
  margin-left: -4px;
}

.logo span {
  color: #e53935;
}

/* Search Bar */
.search-bar {
  /* display: flex; */
  align-items: center;
  position: relative;
}

.search-bar input {
  padding: 6px 15px;
  padding-right: 40px;
  border: 0 solid transparent;
  border-radius: 3px;
  background-color: #ffffff;
  color: #888;
  transition: all 0.3s ease;
  width: 240px;
  padding-left: 5px;
  font-weight: bolder;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 14px;
}

.search-bar input:focus {
  outline: none;
  border-color: #33c3a5;
  box-shadow: 0 0 10px rgba(51, 195, 165, 0.3);
}

.search-bar button {
  position: absolute;
  right: 5px;
  top: 32px;
  transform: translateY(-50%);
  background-color: #cc0001;
  border: none;
  border-radius: 50%;
  color: #fff;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: -3px;
}

/* Mobile Menu Toggle */
.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.close-btn-nav {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 4px 12px;
  border: 1px solid #777;
  border-radius: 5px;
  z-index: 10;
  transition: all 0.3s ease;
}

.arrow-icon {
  display: none;
  font-size: 14px;
  transition: all 0.3s ease;
  float: right;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 4px 15px;
  color: #777;
  margin-right: 10px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 16px 0 0 -24px;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 16px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

dropdown-section li > a {
  color: #f5f5f5;
  font-size: 14px;
  padding: 5px 0px 5px 20px;
  font-weight: 600;
}

.nav-links a:hover {
  color: #33c3a5;
}

/* Adding the arrow after specific list items */
.nav-links li.has-arrow::after {
  content: "▼";
  font-size: 8px;
  color: #fff;
  transition: transform 0.3s ease;
}

.nav-links li.has-right-arrow {
  position: relative;
}

.nav-links li.has-right-arrow::after {
  content: "►";
  font-size: 10px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.nav-links li.has-right-arrow:hover::after {
  transform: translateY(-50%) rotate(90deg); /* تأكد من أن السهم لا ينزل عند التحويل */
}
/* ============================================= */
/* on-demand-dropdown */
/* ============================================= */
.nav-links li .on-demand-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -260px;
  background-color: #000;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 750px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 10;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links li:hover .on-demand-dropdown {
  display: block;
  opacity: 1;
  transform: scale(1);
}

/* Layout of the dropdown items */
.dropdown-section {
  display: flex;
  flex-wrap: wrap;
  /* gap: 15px;
  padding: 10px; */
}

.dropdown-section li {
  width: 25%;
  font-weight: normal;
  padding: 3px 0px 3px 10px;
}

.on-demand-dropdown a {
  color: #ffffff;
  font-size: 14px;
  /* padding: 5px 0px 5px 20px; */
  font-weight: 600;
}

.on-demand-dropdown a:hover {
  color: #33c3a5;
}

/* Mobile responsiveness for dropdown */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
    width: 100%;
  }
}

/* ============================================= */
/* About Us Dropdown */
/* ============================================= */
.about-us {
  position: relative;
}

.about-us .about-us-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 180px;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.about-us:hover .about-us-dropdown {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.about-us-dropdown li {
  padding: 1.5px 15px;
}

.about-us-dropdown a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.about-us-dropdown a:hover {
  color: #33c3a5;
}

/* ============================================= */
/* TV Channels Dropdown */
/* ============================================= */
.nav-links li .tv-channels-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 180px;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links li:hover .tv-channels-dropdown {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.tv-channels-dropdown li {
  padding: 1.5px 15px;
}

.tv-channels-dropdown a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.tv-channels-dropdown a:hover {
  color: #33c3a5;
}

/* ============================================= */
/* Podcasts Dropdown */
/* ============================================= */
.nav-links li .podcasts-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 180px;
  max-height: 400px;
  overflow-y: auto;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links li:hover .podcasts-dropdown {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.podcasts-dropdown li {
  padding: 1.5px 15px;
}

.podcasts-dropdown a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.podcasts-dropdown a:hover {
  color: #33c3a5;
}

/* ============================================= */
/* Vertizontal Dropdown (sub-sub menus) */
/* ============================================= */
.vertizontal {
  position: relative;
}

.vertizontal .vertizontal-dropdown {
  display: none;
  position: absolute;
  left: 0;
  background-color: #000;
  list-style: none;
  margin: 0;
  width: 180px;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  border: 1px solid #222;
  padding-left: 0;
}
.vertizontal .vertizontal-dropdown li {
  width: 70%;

}
.vertizontal:hover .vertizontal-dropdown {
  display: block;
  opacity: 1;
  transform: scale(1);
  top: -2px;
}

.vertizontal-dropdown a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.vertizontal-dropdown a:hover {
  color: #33c3a5;
}


/* drop menu 1 */
.vertizontal .vertizontal-dropdown-mune {
  visibility: hidden;
  position: absolute;
  left: -10px;
  background-color: #1c1c1c;
  list-style: none;
  margin: 0;
  width: 180px;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  border: 1px solid #222;
  padding-left: 0;
}

.vertizontal-dropdown-mune li {
  width: 70%;
 
}
.deep:hover .vertizontal-dropdown-mune {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  top: -2px;
}


/* drop menu1 */

header .cta-button {
  color: #fff;
  background-color: #1bbc9b;
  border-color: #1bbc9b;
  border-radius: 30px;
  font-size: 18px;
  padding: 5px 15px;
  font-weight: bold;
  margin: 11px 9px 0 5px;
  letter-spacing: 0.5px;
  border: 0;
}

header .cta-button a{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.donate-btn{
  display: none;
}
/* 3 btns */
@media (max-width: 768px) {
  .button-container {
    display: flex;
    gap: 6px;
    background: #000;
    margin-top: -3px;
    justify-content: center;
    padding: 10px 0;
    min-width: 360px;
    position: fixed;
    width: 100%;
  }

  .button-container a {
    width: 30%;
    text-align: center;
  }
  .button {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .button.on-demand,
  .button.podcasts {
    background-color: #00bcd4;
  }
  .button.on-demand:hover,
  .button.podcasts:hover {
    background-color: #00acc1;
  }
  .button.listen {
    background: linear-gradient(to right, #ff7043, #ec407a);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }
  .button.listen:hover {
    opacity: 0.9;
  }
  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: white;
  }

  header .cta-button {
    display: none;

  }
  .search-section {
    margin-top: 55px;
  }

  .donate-btn{
    display: block;
    width: 90%;
    margin: 20px auto;
    border: none; 
    padding: 10px 0;
    border-radius: 30px;
    background-color: #00aeef;
  }
  .nav-links .donate-btn a{
    color: #fff;
    font-weight: normal;
    font-size: 17px;
    font-family: inherit;

  }

  
}
/* 3 btns */

/* ============================================= */
/* Mobile Styles (Mobile & Tablet View) */
/* ============================================= */
@media (max-width: 1024px) {
  .spaceing {
    width: 100%;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
    width: 84%;
    margin: 0;

    display: none;
    flex-direction: column;
    position: fixed;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 20px 0;
  }

  .nav-links li {
    margin: 7px 0;
    padding: 0;
  }

  .nav-links a {
    font-size: 16px;
    color: #777777;
    margin-left: 15px;
  }

  .arrow-icon {
    display: block;
  }

  .nav-links li .on-demand-dropdown {
    position: static;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 10;
  }

  /* Layout of the dropdown items */

  .dropdown-section li {
    font-weight: normal;
    padding: 3px 0px 3px 10px;
    width: 100%;
  }

  .on-demand-dropdown a {
    color: #8d8d8d;
    font-size: 14px;
    padding: 5px 0px 5px 20px;
    font-weight: 600;
  }

  .nav-links li .podcasts-dropdown {
    position: static;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 10;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.3s ease;
  }

  .nav-links li .tv-channels-dropdown {
    position: static;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 10;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.3s ease;
  }
  .about-us .about-us-dropdown {
    position: static;
    background-color: #ffffff;
    z-index: 10;
  }

  .about-us-dropdown a {
    color: #8d8d8d;
    font-size: 14px;
    padding: 5px 0px 5px 20px;
    font-weight: 600;
  }

  .podcasts-dropdown a {
    color: #8d8d8d;
    font-size: 14px;
    padding: 5px 0px 5px 20px;
    font-weight: 600;
  }

  .tv-channels-dropdown a {
    color: #8d8d8d;
    font-size: 14px;
    padding: 5px 0px 5px 20px;
    font-weight: 600;
  }
  /* Mobile dropdown behavior */
  .nav-links li:hover .on-demand-dropdown,
  .nav-links li:hover .podcasts-dropdown,
  .nav-links li:hover .tv-channels-dropdown {
    opacity: 1;
    transform: scale(1);
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 85px;
    z-index: 3;
  }

  .mobile-menu-toggle {
    display: block;
    color: #bf1e2e;
    border: 1px solid #bf1e2e;
    padding: 0 8px;
    border-radius: 5px;
    font-size: 21px;
    margin-top: 12px;
    margin-right: 0;
  }

  .close-btn-nav {
    display: block;
  }

  .vertizontal .vertizontal-dropdown {
    /* position: static; */
    left: 0;
    background-color: #efefef;
    list-style: none;
    margin: 0;
    width: 200px;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    border: 0;
  }

  .vertizontal-dropdown a {
    margin-left: 50px;
  }

  .podcasts-dropdown li{
    width: 40%;
  }
  /* /* .nav-links li.has-right-arrow {
    position: static; 
  } */

  .nav-links li.has-right-arrow::after {
    content: "►";
    font-size: 10px;
    color: #d41111;
    position: absolute;
    /* right: 60px; */
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }
  */ .dropdown-section {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    /* gap: 15px; */
    /* padding: 10px; */
  }

  .dropdown-section li {
    width: 40%;
    white-space: nowrap;
    display: block;
    padding: 0;
  }
  .dropdown-section a {
    font-size: 12px;
  }




  /* drop menu 1 */
.vertizontal .vertizontal-dropdown-mune {
  visibility: hidden;
  position: absolute;
  left: 0;
  background-color: #d7d7d7;
  list-style: none;
  margin: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  border: 0;
  padding-left: 0;
}

.vertizontal-dropdown-mune li a{
  width: 100%;
}
.deep:hover .vertizontal-dropdown-mune {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  top: -2px;
}

.vertizontal-dropdown-mune a{
  margin-left: 0;
}


/* drop menu1 */



.vertizontal .vertizontal-dropdown li {
  width: 90%;
}



}

.search-bar {
  display: flex;
}

@media (max-width: 768px) {
  .nav-links {
  }

  .nav-links.active {
  }

  .mobile-menu-toggle {
    display: block;
    color: #bf1e2e;
    border: 1px solid #bf1e2e;
    padding: 0 8px;
    border-radius: 5px;
    font-size: 21px;
    margin-top: 12px;
    margin-right: 0;
  }

  /*  */

  /* Search Bar */
  .search-bar {
    /* display: flex; */
    align-items: center;
    position: relative;
  }

  .search-bar input {
    padding: 6px 15px;
    padding-right: 40px;
    border: 0 solid transparent;
    border-radius: 15px;
    background-color: #060404;
    color: #888;
    transition: all 0.3s ease;
    width: 90%;
    padding-left: 5px;
    font-weight: bolder;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 14px;
  }

  .search-bar input:focus {
    outline: none;
    border-color: #33c3a5;
    box-shadow: 0 0 10px rgba(51, 195, 165, 0.3);
  }

  .search-bar button {
    position: absolute;
    right: 5px;
    top: 32px;
    transform: translateY(-50%);
    background-color: #cc000000;
    border: none;
    border-radius: 50%;
    color: #fff;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: -3px;
  }

  /*  */

  .logo img {
    display: block;
    width: 99px;
  }
}

@media (max-width: 480px) {
  header {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }

  header .container {
    padding: 0;
    width: 90%;
  }

  .logo img {
    width: 95px;
    margin-top: -19px;
  }
  .search-bar {
    width: 50%;
  }

  .cta-button {
    display: none;
  }

  .dropdown-section {
    display: block;
    flex-wrap: nowrap;
    /* gap: 15px;
    padding: 10px; */
  }
}

/* after nav */

/* search bar */
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 60px;
}

.search-section h2 {
}
#search-input {
  margin-top: 15px;
  padding: 12px 50px;
  width: 100%;
  max-width: 450px;
  font-size: 1.2em;
  border-radius: 50px;
  border: 2px solid #555;
  background-color: #1b1b2a;
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}

/* main */

main h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.second-search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 30%;
}

.second-search-bar i {
  color: #000;
  position: absolute;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 15px;
}

.second-search-bar input {
  background-color: #2d3748;
  color: var(--text-light);
  border: 1px solid #4b5563;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
  margin-bottom: 2rem;
  outline: none;
  transition: all 0.3s ease;
}

.second-search-bar input:focus {
  border-color: var(--accent-pink);
  box-shadow: 0 0 0 2px rgba(236, 72, 153, 0.5);
  caret-color: rgba(236, 72, 153, 0.5);
}

.cardbg {
  border-radius: 12px;
  padding: 40px 80px;
  margin: 0px 20px;
  background-color: #1b1b2a;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 64px;
}
.count {
  display: flex;
  align-items: center;
}
.count p {
  margin-left: 10px;
  color: #b85c5e;
  margin-right: 10px;
}
.channels {
  font-size: 27px;
  line-height: 36px;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 576px) {
  .cardbg {
    padding: 30px 60px;
  }

  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .cardbg {
    padding: 40px 80px;
  }

  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1280px) {
  .movie-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.movie-card {
  height: 145px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 140px;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.movie-card:hover .movie-details h3 {
  color: #ff6f61;
  transition: transform 0.3s ease;
}

.movie-card img {
  width: 100%;
  height: 100px;
  border-radius: 0.5rem;
}

.movie-card:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.movie-details {
  padding: 0.5rem;
}

.movie-details h3 {
  font-size: 0.875rem;
  font-weight: 500;
  color: #efefef;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0 0;
  padding: 0;
}

.movie-details p {
  font-size: 0.75rem;
  color: var(--text-muted);
  margin: 0.25rem 0;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.star {
  width: 1rem;
  height: 1rem;
}

.star.active {
  color: var(--star-active);
}

.star.inactive {
  color: var(--star-inactive);
}

/* Modal Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 100%;
  width: 100%;
}

.modal-container.hidden {
  display: none;
}

.modal-container:not(.hidden) {
  opacity: 1;
}

.modal-container .modal-content {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 80%;
  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Close Button Styles */
.close-btn-vid {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #4a5568;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.close-btn-vid:hover {
  background-color: #2d3748;
}

.close-btn-vid i {
  font-size: 1.2rem;
}

.left-content {
  width: 30%;
  padding: 1.5rem;
  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.platform-btn:hover {
  background-color: #2d3748;
}

.video-container {
  width: 70%;
  height: 100%;
  position: relative;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 255, 0.4) 60%,
    transparent 100%
  );
  z-index: 1;
  border-radius: 10px;
}

.video-iframe {
  width: 100%;
  height: 100%;
}

/* Media Queries for Responsiveness */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .modal-container .modal-content {
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
  }
  .video-container {
    width: 100%;
    height: 70%;
  }

  .left-content {
    width: 100%;
    padding: 1rem;
    height: 30%;
  }

  .video-container {
    width: 100%;
    height: 300px;
  }

  .title {
    font-size: 1.3rem;
  }

  .platform-btn {
    padding: 0.8rem 1.4rem;
    font-size: 1rem;
  }
}

/* Extra small devices (phones, 480px and up) */
@media (max-width: 480px) {
  .modal-container .modal-content {
    width: 95%;
    height: 95%;
  }

  .left-content {
    width: 100%;
    padding: 0.5rem;
    height: 40%;
  }

  .video-container {
    width: 100%;
    height: 60%;
  }

  .title {
    font-size: 1.2rem;
  }

  .platform-btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

/* footer */

footer {
  margin: 0;
  background-color: #000;
}

footer .brand-logo img{
  width: 200px;
  margin-top: 10px;
}

.f-wd {
  width: 30%;
}
footer .main-title {
  font-size: 25px;
  font-family: "Open Sans", Sans-serif;
  letter-spacing: 4px;
  padding: 40px 0 0 0;
  font-weight: 600;
  text-align: center;
}

footer .social-links {
  display: flex;
  justify-content: center;
  padding: 20px 0px 30px;
}

footer .social-links a {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  border-radius: 30px;
  margin: 0px 12px 0px 12px;
  transition: background-color 0.5s ease-out 100ms;
  text-decoration: none !important;
}


footer .social-btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
}

footer .social-btn:hover {
  background-color: #fff;
  transition: ease;
  border-radius: 30px;
  
}


footer .social-row {
  display: flex;
}

footer .facebook-btn {
  color: #576eee;
}

footer .twitter-btn {
  color: #1dbbff;
}

footer .youtube-btn {
  color: #c31010;
}

footer .instagram-btn {
  color: #f8079a;
}
footer .divider {
  border-top: 1px solid #666;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

footer .app-wrap {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 20px;
}
footer .app-wrap h4 {
  color: #1bbc9b;
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0px;
}
footer .app-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .app-wrap ul li {
  margin-bottom: 8px;
}
footer .app-wrap ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", Sans-serif;
  font-weight: 500;
  padding: 6px 0px;
}

footer .our-apps img {
  max-width: 75%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.our-apps {
  width: 20%;
}

.f-r-container{
  display: flex;
  width: 100%;
}

footer .row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

  margin-bottom: 20px;
}

.f-wd {
  width: 100%;
  margin: 0 5px;
}


.our-brands li,
h4 {
  text-align: left;
}

footer .copyright p {
  font-size: 14px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 500;
  font-family: "Open Sans", Sans-serif;
}
footer .content {
  display: flex;
  padding: 20px 0px;
  justify-content: space-around;
  align-items: center;
}

.full-divider {
  border-top: 1px solid #666;
  width: 100%;
  margin: 0 auto;
}

/* ----------------------- */
@media (max-width: 768px) {

  footer .social-links {
    flex-direction: column;
    align-items: center;
  }

  .f-r-container{
    display: block;
  }



  footer .app-wrap {
    display: block;
  }

  footer .app-links {
    text-align: center;
    display: flex;
  }
  footer .our-apps img {
    max-width: 60%;
    margin: 0 auto 20px auto;
  }

  .our-apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .our-apps a{
    width: 100%;
    text-align: center;
  }
  .f-wd {
    width: 100%;
  }


  footer .copyright p {
    font-size: 11px;

  }
  footer .content {
    padding: 0px;
    flex-direction: column;
  }

  footer .divider {
    width: 40%;
    margin-bottom: 20px;
  }
}
